
.hero-container {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url('../../../../public/medicina.jpg') center/cover no-repeat;
  backdrop-filter: blur(6px);
  color: rgb(2, 76, 95);
  z-index: 0;
}


.navbar {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 90px;
      margin-right: 1rem;
    }

    .titulo-logo {
      h2 {
        margin: 0;
        font-size: 1.8rem;
        font-weight: 600;
      }

      span {
        font-size: 0.9rem;
        color: #777070;
      }
    }
  }
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px);
  margin-top: -55px;
  background-size: cover;
  background-blend-mode: multiply;

  .bienvenido, .sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;       
    width: 48%;
    height: 48%;
    margin: 1rem;
    background-color: #025664af;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 2rem 1.5rem;
    text-align: center;
  }

  .bienvenido {
    color: #fdfcfd;
    font-family: 'Arial', sans-serif;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.164);

    h1 {
      margin-bottom: 1.4rem;
      font-size: 3.5rem;
      font-weight: bold;
    }

    p {
      font-size: 2rem;
      margin-bottom: 1.1rem;
    }
    ul {
      list-style-type: disc;
      text-align: left;
      margin: 0 auto 1.2rem auto;
      padding-left: 2.1rem;
      font-size: 2rem;
      color: #fdfcfd;
      width: max-content;
      min-width: 220px;
    }
  }

  .sub-menu {
    background-color: #1e3cc096;
    align-items: center;
    color: #fdfcfd;

    h2 {
      margin-bottom: 1.2rem;
      font-size: 3rem;
      font-weight: bold;
      color: #fff;
    }

    p {
      font-size: 2.3rem;
      margin-bottom: 1.1rem;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
    margin-top: 1.5rem;
  }
  button {
    gap: 1rem;
    font-family: 'Arial', sans-serif;
    background-color: #05363f96;
    border: none;
    color: white;
    padding: 1.5rem 2.3rem;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #3807e9;
    }
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .bienvenido, .sub-menu {
    width: 90%;
  }
}


